
@media only screen and (min-width: 1001px) {
   .navbar {
        .search-item {
            display: block;
        }
   }
    
}
@media only screen and (max-width: 1000px) {
    .navbar {
        .menu-item {
            display: none;
        }
        // .sign-in {
        //     width: fit-content;
        // }
        .mb-menu {
            display: block;
        }
    }
    .type-page {
    
        .types-menu {
            padding-top: 50px;
            padding-bottom: 0px;
            padding-left: 120px;
        }
        .title-categories {
            display: none;
        }
    }
    main {
        margin-top: 60px;
    }
}
@media only screen and (max-width: 768px) {
    header {
        display: none;
    }
    .type-page {
    
        .types-menu {
            padding-top: 50px;
            padding-bottom: 0px;
            padding-left: 70px;
        }
        .title-categories {
            display: none;
        }
    }
    
}
@media only screen and (max-width: 512px) {
    .navbar .collapse {
        .search-item {
            .logo .navbar-brand img {
                width: 30px;
            }
            .search {
                width: 150px;
                margin: 0;
                padding: 0;

                label {
                    i {
                        font-size: 13px;
                    }
                }
                input {
                    font-size: 12px;
                    height: fit-content;
                    padding: 0;
                    padding-left: 5px;
                }
            }
        }

       .sign-in {
           width: 100%;
           padding: 0;
           gap: 2px;
           #register {
               font-size: 10px;
               padding: 2px 4px;
           }
           #sign-in {
                font-size: 10px;
               padding: 2px 4px;
           }
       }
    }

    .type-page {
    
        .types-menu {
            padding-top: 50px;
            padding-bottom: 0px;
            padding-left: 20px;
        }
        .title-categories {
            display: none;
        }
    }
}

@media only screen and (max-width: 380px) {
    .navbar {
        .collapse.navbar-collapse {
            .search-item .search {
                &:focus-within .d-flex {
                    width: 150px;
                    background-color: white;
                }
                .d-flex {
                    width: 45px;
                    border: none;
                    background-color: unset;
    
                    input[type=search-input] {
                        background-color: unset;
                    }
                }
            }
            .sign-in {
                padding-right: 5px;
                button#sign-in {
                    display: none;
                }
            }
        }

        .mb-menu {
            .nav {
                overflow-x: auto;
                
                &::-webkit-scrollbar
                {
                    width: 0;
                    height: 0;
                }
                &::-webkit-scrollbar-thumb
                {
                    border: none;
                    background-clip: unset;
                    border-radius: 20px;
                    background-color: unset;
                }
                &::-webkit-scrollbar-track {
                    background-color: unset;
                }
            }
        }
    }

    main {
        margin-top: 70px;
    }

    .type-page {
    
        .types-menu {
            padding-top: 50px;
            padding-bottom: 0px;
            padding-left: 5px;
            overflow-x: auto;
            // background-color: rgb(255, 255, 255);
            @extend %flex-box;
            gap: 10px;

            &::-webkit-scrollbar
            {
                width: 0;
                height: 0;
            }
            &::-webkit-scrollbar-thumb
            {
                border: none;
                background-clip: unset;
                border-radius: 20px;
                background-color: unset;
            }
            &::-webkit-scrollbar-track {
                background-color: unset;
            }
            
            .title-categories {
                display: none;
            }
        }
    }
}